*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    height: 30px;
}
.logo{
    width: 15em;
    background-color: #fff;
}